[data-id*='H1077001']{display: none !important;}    /*  維他  */
[data-id*='H7377001']{display: none !important;}    /*  雷澳美食 Leo's Fine Food  */
[data-id*='H0150001']{display: none !important;}    /*  漁鮮快遞  */
[data-id*='H6540002']{display: none !important;}    /*  嘉信和牛 Cas Wagyu  */
[data-id*='H1191001']{display: none !important;}    /*  永南食品 / 公仔  */
[data-id*='H5258001']{display: none !important;}    /*  大埔振興肉丸 Tai Po Chun Hing  */
[data-id*='H1207001']{display: none !important;}    /*  淘大食品 Amoy Food  */
[data-id*='H7881001']{display: none !important;}    /*  天峰貿易  */
[data-id*='H7116001']{display: none !important;}    /*  陳記點心 Chan Kee Dim Sum  */
[data-id*='H8480001']{display: none !important;}    /*  正大食品 CP Foods  */
[data-id*='H7840001']{display: none !important;}    /*  瑞豐榮業有限公司/潮州仔潮汕食品專門店  */
[data-id*='H7939001']{display: none !important;}    /*  香港科朗現代農業有限公司/中山市科朗家禽有限公司  */
[data-id*='H7229001']{display: none !important;}    /*  Aplex Capital Holdings Limited (OK STORE) / Aplex 日本貨好友站   */
[data-id*='H3742001']{display: none !important;}    /*  西樹泡芙 Chez Choux (Choux Creme) / 杰甜品有限公司  */
[data-id*='H5535005']{display: none !important;}    /*  FoodWise  */
[data-id*='H7078001']{display: none !important;}    /*  嘉明海產 Garming Marine Products / 嘉明海產國際有限公司  */
[data-id*='P0067001']{display: none !important;}    /*  新昇行/Green Common/綠客門  */
[data-id*='H7413001']{display: none !important;}    /*  萬永國際有限公司/Forever Winning International Limited  */
[data-id*='H1110001']{display: none !important;}    /*  灣仔碼頭  */
[data-id*='H1194001']{display: none !important;}    /*  慎昌/慎昌 Sims Trading  */
[data-id*='H6917001']{display: none !important;}    /*  穎達行有限公司/品鱻  */
[data-id*='H0579001']{display: none !important;}    /*  台灣皇上皇食品  */
[data-id*='H5950001']{display: none !important;}    /*  Ocean-Three/生蠔速遞  */
[data-id*='H6902001']{display: none !important;}    /*  環球急凍美食/京士有限公司  */
[data-id*='H8135001']{display: none !important;}    /*  包點先生有限公司/Bao Dim Sin Seng Limited  */
[data-id*='H3683001']{display: none !important;}    /*  健康農場/Health Farm  */
[data-id*='H8240001']{display: none !important;}    /*  劉中興食品有限公司/lauchunghing food product.,LTD/中興投資公司  */
[data-id*='H7264003']{display: none !important;}    /*  老友記/ 家家加/KIKIJA/Cham-Plus/尚嘉品鑑/HK YUMMY FOOD?  */
[data-id*='P0047001']{display: none !important;}    /*  健康工房-官方旗艦店 / 同治堂/ HealthWorks  */
[data-id*='H7650001']{display: none !important;}    /*  魚陣營/  */
[data-id*='H7306001']{display: none !important;}    /*  環球海產有限公司  */
[data-id*='H7711001']{display: none !important;}    /*  ChumPlus 食盡Mall域  */
[data-id*='H5535005']{display: none !important;}    /*  FoodWise/FoodBarn/ 慧品  */

